<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css"> 
    <title>Can They Fly?</title>
</head>
<body>
    <!-- <h1 class="homepage">Welcome to the Superhero app!</h1> -->
     <div class="home-container-1">
        <img id="homepage-banner" src="/images/homepage/homepage-banner-img/homepage-banner.jpg" >
        
        <p class="homepage">An app for Undersanding Your Favorite Superhero Better.</p>
        <a class="homepage" href="/superheroes">Browse Superheroes</a>

     </div>
</body>
</html>