<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <script src="/js/homepage.js" defer></script>

    <title>Can They Fly?</title>
</head>
<body class="homepage-body">
     <div class="home-container-1">
         <div id="homepage-banner">
             <img id="homepage-image-1" src="/images/homepage/homepage-banner-img/homepage-banner.jpg" >
        </div>
         <h2 class="homepage" id="homepage-title">Do You Know Which of Your Favorite Superheroes Can Fly?</h2>
        <div id="homepage-roster-images-div">
            <img id="roster-images" src="/images/homepage/homepage-roster-images-div/roster-superman.png"/>
        </div>
        
        <a href="/superheroes"><button id="homepage-link-to-index""> Superhero Index </button></a>
     </div>
</body>
</html>