<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Superhero Index</title>
  </head>
  <body>
    <h1>All Superheroes!</h1>
    <ul>
        <% superheroes.forEach(superhero => { %>
            <li><%= superhero.name %></li>
    <%  }); %>
    </ul>
    <a href="/superheroes/new">Add New Superhero</a>
  </body>
</html>
