<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/app.css"> 
    <title>Superhero Index</title>
  </head>
  <body>
    <a href="/superheroes/new">Add New Superhero</a>
    <h1>This is Our Superhero Index!</h1>
    <ul>
        <% superheroes.forEach(superhero => { %>
            <li><a href="/superheroes/<%=superhero._id %>"><%= superhero.name %></li>
    <%  }); %>
    </ul>
    <a href="/">Back to Home Page</a>
  </body>
</html>
