
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a Superhero</title>
  </head>
  <body>
    <h1>Create a New Superhero!</h1>
    <form action="/superheroes" method=""POST>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />

        <label for="canTheyFly">Can they Fly?</label>
        <input type="checkbox" name="canTheyFly" id="canTheyFly" />

        <button type="submit">Add Superhero</button>
    </form>
  </body>
</html>
